/* myapp/static/css/styles.css */

body {
    /* margin: 0; */
    /* padding: 0; */
    font-family: Arial, sans-serif;
    background: url('/static/images/img2.jpg') no-repeat center center fixed;
    background-size: cover;
}
.Header_welcome {
    color: rgb(250, 244, 244);
    text-align: center;
    /* padding: 50px; */
}

.button_welcome {
    background-color: rgb(243, 225, 197); 
    color: rgb(197, 7, 7); 
    border: 2px solid rgb(243, 225, 197);
    width: 150px;
    height: 30px;
    padding: 7px 24px;
    border-radius: 8px;
    margin-left: 150px; 
    /* margin-top: 5px;  */
  }
  

  .button_welcome:hover {
    background-color: rgb(245, 241, 241); 
    border: 2px solid rgb(253, 251, 249);
    /* border: 2px solid rgb(118, 179, 207);
    background-color: rgb(118, 179, 207); */
    color: rgb(12, 0, 0);  
    width: 150px;
    height: 30px;
    padding: 7px 24px;
    border-radius: 8px;
    margin-left: 150px; 
    /* margin-top: 5px;  */
  }
  
